<div class="ui-container">
  <div class="space-y-5">
    <h1 class="brand-font text-center text-2xl font-bold text-slate-900">アイテム編集</h1>

    <%= render "form", item: @item, categories: @categories %>
  </div>
</div>
