<p><%= @resource.name %> 様</p>

<p>パスワード再設定のリクエストを受け付けました。</p>
<p>以下のリンクから新しいパスワードを設定してください。</p>

<p><%= link_to "パスワード再設定", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は、このまま破棄してください。</p>
<p>上記リンクから新しいパスワードを設定するまで、現在のパスワードは変更されません。</p>
